@font-face {
  font-family: norse-bold;  /* name to call when used */
  src: url(./resources/Norse-Bold.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  display: flex;
  margin: 0;
  background-color: #919290;
}

div.decorative-stripe {
  height: 100vh;
  width: 35%;
  background: url(./resources/peak.jpg);
  background-size: cover;
  position: relative;
}
div.logo-background {
  width: 100%;
  height: 12vw;
  position: relative;
  top: 22vh;
  background-color: #000;
  opacity: 0.4;
  overflow: hidden;
  padding-left: 5vw;

  display: flex;
  /* justify-content: center; */
  align-items: center;
}
img.odin-logo {
  margin-right: 1vw;
  height: 8vw;
}
img.odin-logo + p {
  margin: 0;
  color: #fff;
  font-size: 9vw;
  font-family: norse-bold;
}
p.img-credits {
  position: absolute;
  text-align: center;
  bottom: 10px;
  right: 15px;
  opacity: 0.8;
  margin: 0;
  font-size: small;
  color: #EFF1EE;
}

div.content {
  width: 65%;
}